.mybreadcrumb {
    background-color: #eee;
    padding: 10px 20px;
    display: block;
    border-top: 3px solid var(--mor-color);
}

ol {
    margin: 0 !important;
    padding: 0 !important;
}

.mybreadcrumb i {
    color: black;
}

.breadcrumb-item {
    color: var(--mor-color) !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #ddd !important;
}

.main-section h3 {
    font-weight: bold;
    color: var(--mor-color) !important;
}

.main-section .line {
    height: 3px;
    width: 100%;
    background-color: var(--darkBlue-color);
}


.main-section .pw-box {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main-section .pw-box img {
    width: 100%;
}

.main-section h3 {
    font-size: 1.1rem;
    height: 45px;
    line-height: 25px;
    text-align: center;
}

.main-section h3.title {
    font-size: 1.4rem;
}

.main-section a {
    text-decoration: none;
}

.main-section .text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-section .text p {
    text-align: justify;
    font-size: 15px;
    height: 5.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.main-section .text a.moreBtn {
    display: block;
    width: fit-content;
    background-color: var(--darkBlue-color);
    color: white;
    margin-right: auto;
    border-radius: 5px;
    padding: 7px;
    transition: all 0.2s linear;
}

.main-section .text a.moreBtn:hover {
    background-color: var(--mor-color);
}