footer .foot-links a {
    text-decoration: none;
    color: white;
}

footer .foot-links a:hover {
    color: rgba(255, 255, 255, 0.7);
}

footer .footer-content {
    background-color: var(--mor-color);
    color: white;
}

footer .hr {
    background: linear-gradient(to right, transparent, white, transparent);
    opacity: 1;
    height: 2px;
    border-radius: 50%;
    margin-bottom: 10px !important;
}

footer .demo {
    text-align: justify;
}

footer .call-info i {
    font-size: 30px;
}

footer .call-info p {
    font-size: 1.2rem;
}

footer .footer-menu-container a {
    text-decoration: none;
    background-color: white;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px;
    color: var(--mor-color);
}

footer .footer-menu-container a:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

footer .rights {
    color: var(--darkBlue-color);
    font-size: 0.9rem;
    padding-inline: 10%;
}

footer .rights a {
    text-decoration: none;
    color: var(--mor-color);
}

footer h5 {
    font-weight: bold;
}

footer .whatsapp {
    background-color: #58b501;
    padding: 7px 10px;
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}